# Ignore Python virtual environments
venv/
env/
.venv/
__pycache__/

# PyInstaller build folders
build/

__pycache__/
*.spec

# OS system files
.DS_Store
Thumbs.db

# Logs

# IDE/editor folders
.vscode/
.idea/


# Compiled Python files
*.pyc
*.pyo
*.pyd

# Installer executables
*.iss
*.msi
*.bak
# Fix file
fix_database.py
